#checkov:skip:CKV2_GHA_1:Comment
name: Lint and Test
run-name: Lint and Test ${{ github.sha }}

on:
  push:
  workflow_dispatch:

jobs:
  rust:
    runs-on: ubuntu-latest
    name: Lint and Test
    permissions:
      id-token: write
      contents: read
      actions: write
      statuses: write

    steps:
      - name: Clone
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: crusty-pie/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt

      - name: Rust fmt
        id: rust-fmt
        run: |
          cargo fmt --check --verbose

      - name: Machete
        id: rust-machete
        uses: bnjbvr/cargo-machete@v0.6.2

      - name: Unit Tests and Code Coverage
        id: tarpaulin
        run: |
          cargo install cargo-tarpaulin
          make coverage

      - name: Archive Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: reports/tarpaulin-report.html

      - name: Setup StagToolkit
        uses: ./.gitea/composite/setup
        with:
          cross-compile: false
          toolkit-path: "."
          import-assets: true

      - name: Godot Unit Tests
        shell: bash
        run: |
          make test-godot
